body {
  background-color: #000000;
  color: #ff79c6;
  min-height: 97vh;
  font-family: 'Comfortaa', cursive;
}

center {
  margin-top: 10%;
}

p {
  font-family: 'Comfortaa', cursive;
  font-weight: bold; 
  color: #fca306;
}
.btn a{
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-decoration: none;
  border: 3px solid #bd93f9;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.footer {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
}

.btn a span{
  position: relative;
  z-index: 2;
}

.btn a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffb3ff;
  transition: all .35s;
}

.btn a:hover{
  color: #000000;
}

.btn a:hover:after{
  width: 100%;
}

.content {
  position: absolute;
  font-weight: medium;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content a {
  color: #8b73ff;
  text-decoration: none;
  cursor: pointer;
}

.content img {
  text-align: center;
}

samp {
  color: #ffffff;
  margin-right: 50px;
  margin-left: 50px;
}

p {
  font-size: 32px;
}

.ns {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 978px) {
  samp {
    position: flex;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
  }
}
